#popup
{
	position: absolute;
	bottom: 10vh;
	left: 10vw;
	width: 80vw;
	padding: 15px;
	background: purple;
	text-align: center;
	color: white;
	font-size: 20px;
	display: none;
	z-index: 100;
	border-radius: 10px;
}
.sponsors {
	width:100%;
	height: auto;
	left: 0%;
}
.sponsor1 {
position: absolute;
width: 45%;
height: 45%;
left: 0%;

}

.sponsor2{
	position: absolute;
	width: 45%;
	height: 45%;
	left: 55%;
}
.sponsor3{
	position: absolute;
	width: 45%;
	height: 45%;
	top: 55%;
	left: 0%;
}
.sponsor4{
	position: absolute;
	width: 45%;
	top: 55%;
	height: 45%;
	left: 55%;
}